// Mixins
animation-name(name) {
  -webkit-animation-name: name;
  -moz-animation-name: name;
  animation-name: name;
}

animation-duration(time) {
  -webkit-animation-duration: time;
  -moz-animation-duration: time;
  animation-duration: time;
}

animation-fill-mode(val) {
  -webkit-animation-fill-mode: val;
  -moz-animation-fill-mode: val;
  animation-fill-mode: val;
}

animation-iteration-count(count) {
  -webkit-animation-iteration-count: count;
  -moz-animation-iteration-count: count;
  animation-iteration-count: count;
}


// Flash animation source: https://github.com/daneden/animate.css

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name(flash)
}

.animated {
  animation-duration(3s)
  animation-fill-mode(both)
}

.animated.infinite {
  animation-iteration-count(infinite)
}
