.flash-card {
  .profile-photo {
    border-radius: 0.3rem;
  }

  .profile-name {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
  }

  .profile-title {
    margin: 0.5rem;
  }

  .profile-blurb {
    width: 274px;
    margin: 0.5rem auto;
    text-align: left;
  }
}
